@use '../themes/dark.scss' as theme;



button {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  padding: 0.75rem;
  color: theme.$text-color;
  font-size: 1.5rem;
  line-height: 0;
}

.Actions {
  display: flex;
  justify-content: center;
  
  .PlayPause {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    padding: 0.75rem;
    color: theme.$text-color;
    font-size: 1.5rem;
    line-height: 0;
  }
}


.Progress {
  display: flex;
  margin: 0.5rem;
  align-items: center;

  .progress-slider{
    flex-grow: 1;
    margin: 0 0.25rem;
  }


}