$background: #fff;
$track-list-background: #fff;
$track-list-active-background: #ddd;
$text-color: #bbb;

$button-hover-color: #18a6ad;
$text-hover-color: #78d5da;

$progress-background-color: #fff;
$progress-value-color: #18a6ad;