$light: (
  background: #fff,
  track-list-background: #ddd,
  track-list-active-background: #ccc,
  text-color: #333,

  button-hover-color: #0f5f63,
  text-hover-color: #03aab3,

  progress-background-color: #999,
  progress-value-color: #093f42
)