@use '../themes/light.scss' as light-theme;
@use '../themes/dark.scss' as dark-theme;

$themes: (
  light: light-theme.$light,
  dark: dark-theme.$dark
);

@mixin themed($selector, $key, $color) {
  @each $theme-name, $theme-colors in $themes {
    .theme-#{$theme-name} #{$selector} {
      #{$key}: map-get(map-get($themes, $theme-name), $color)
    }
  }
}