@use './themes/themes.scss' as themes;

body {
  @include themes.themed('.Player', 'color', 'text-color');
  @include themes.themed('.Player', 'background-color', 'background');
  @include themes.themed('.sidebar', 'background-color', 'track-list-background');
  @include themes.themed('button:hover', 'filter', 'hover-filter');
}

button {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  padding: 0.5rem;
  color: inherit;
  font-size: 1.5rem;
  line-height: 0;
  transition: 0.2s linear;

  &.toggle-repeat{
    font-size: 1.6rem;
  }
}

.Player {
  display: flex;
  width: 100%;

  $theme-name: 'light';

  .sidebar {
    position: relative;
    width: 25%;
    min-width: 200px;

    .TracksList {
      position: absolute;
      top: 0;
    }

    .buttons {
      position: absolute;
      bottom: 0;
      display: flex;
      padding: 0.5rem;
    }
  }

  .controls {
    flex-grow: 1;
    text-align: center;

    h2 {
      margin: 0.75rem 0 0.25rem;
    }
    h5{
      margin: 0 0 0.25rem 0;
      font-weight: normal;
    }
  }
}