@use '../themes/themes.scss' as themes;

body {
  @include themes.themed('.track.active', 'background-color', 'track-list-active-background');
  @include themes.themed('.track:hover', 'color', 'text-hover-color');
}

.TracksList {
  width: 100%;
  padding-bottom: 1rem;

  h2{
    margin: 0;
    padding: 1rem 1rem 0.5rem 1rem;
  }

  .tracks {

    .track {
      width: 100%;
      padding: 0.5rem 1rem;
      cursor: pointer;
    }    
  }
}