@use '../themes/dark.scss' as theme;

.TracksList {
  width: 100%;
  padding-bottom: 1rem;

  h2{
    margin: 0;
    padding: 1rem 1rem 0.5rem 1rem;
  }

  .tracks {

    .track {
      width: 100%;
      padding: 0.5rem 1rem;
      cursor: pointer;

      &.active {
        background-color: theme.$track-list-active-background;
      }

      &:hover {
        color: theme.$text-hover-color;
      }
    }

    
  }
}